calt {
    height: 40px;
    width: 70px;
    margin-top: 10px;
    border-radius: 25%;
    font-size: 35px;
    box-shadow: -5px 8px 2px rgba(0, 0, 0, 0.7);
    background: linear-gradient(blue, #fff);
}

calt:active {
    box-shadow: -2px 4px 2px rgba(0, 0, 0, 0.7);
    background: linear-gradient( #fff, blue);
}

rset {
    height: 40px;
    width: 95px;
    position: absolute;
    top: 200px;
    left: 100px;
    border-radius: 20%;
    background: linear-gradient(#6cf, blue, white);
    font-size: 20px;
    box-shadow: -5px 8px 2px rgba(0, 0, 0, 0.7);
}

rset:active {
    box-shadow: -2px 4px 2px rgba(0, 0, 0, 0.7);
    background: linear-gradient(#6cf, blue);
}

labl {
    height: 40px;
    width: 200px;
    position: absolute;
    top: 560px;
    left: 140px;
    color: red;
    transform: rotate(0deg);
}